.container {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 88%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form .forgot-password {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
}
.form .register-btn {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .register-btn a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
  
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 12px;
}

.login-form {
    max-width: 300px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .forgotPassword {
    margin-top: 25px;
  }
  
  .underline {
    border-bottom: 1px solid #0099ff;
    display: inline-flex;
    line-height: 1.85;
    width: 100%;
    justify-content: center;
  }
  
  nz-card {
    padding: 20px;
    box-sizing: border-box;
   // border: 1px solid #ece6e6;
    border-radius: 0px !important;
    height: 100%;
  }
  
  .login_card {
    background-color: #fafafa;
  }
  
  .owner_login_boxtext {
    width:36%;
    position: relative;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
  }
  
  .login_cardText {
    align-items: center;
    display: flex;
  }
  
  .owner_login_boxtext:after {
    width: 96%;
    height: 30px;
    content: "";
    display: block;
    background-image: url("../../../assets/img/leftshadow.png");
    background-size: 100%;
    background-position: top left;
    position: absolute;
    bottom: -30px;
    left: 2%;
    background-repeat: no-repeat;
  }
  
  .owner_login_boxform {
    position: relative;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .owner_login_boxform:after {
    width: 96%;
    height: 30px;
    content: "";
    display: block;
    background-image: url("../../../assets/img/rightshadow.png");
    background-size: 100%;
    background-position: top right;
    position: absolute;
    bottom: -30px;
    left: 2%;
    background-repeat: no-repeat;
  }
  
  .owner_login_boxform:before {
    width: 7px;
    height: 100%;
    content: "";
    display: block;
    background-image: url("../../../assets/img/separatorbx.png");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-repeat: repeat-y;
  }
  
  .login_outer_box {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  
  
  @media (max-width: 767px) {
    .owner_login_boxtext {
      display: none;
    }
    .owner_login_boxform {
      padding-left: 0px !important;
    }
    .owner_login_boxform:before {
      display: none;
    }
  }
  

