.combination-wrapper {
    inline-size: 60rem;
    padding: 2rem;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    margin-left: calc(100vh - 430px);
  }

  .login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

