/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/style.css";
body {
    font-family: "Gilroy-Medium ☞";
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    font-size: 14px;
    color: #484747;
  }